	<div id="mainContainer">
		<div>
		<div class="innerHolder">
			<p ><strong>Bobak</strong> je servis za pretraživnje firmi u Bosni i Hercegovini koje imaju blokirane račune u bosanskohercegovačkim bankama.<br/><br/>
Svaki mjesec <strong>Centralna Banka Bosne i Hercegovine</strong> objavljuje spisak koje imaju blokirane račune u bh bankama. Izvještaj se objavljuje na osnovu Odluke Upravnog vijeća CBBH broj: 96/12 od 04.10.2012.<br/><br/>
Za ispravnost podataka odgovorne su finansijske institucije koje su dostavile podatke u Registar.<br/><br/>
Bobak pohranjuje te podatke te omogućuje prikaz istih, pretragu te zanimljive statistike.<br/><br/><br/>
<strong>Kako Bobak radi?</strong><br/><br/>Jednostavno kliknite na ikonu za pretragu lijevo i tražite firme po njihovom nazivu ili jedinstvenom identifikacionom broju (JIB).<br/>Ako firma ima bar jedan blokiran račun pojavit će se u rezultatima.
</p>
</div>
		<div id="cblogodiv">
			<%= image_tag('cblogo2.png', :class => 'cblogo') %>
		</div>
		</div>
	</div>
</div>