	<div id="mainContainer">
		<div>
		<div class="innerHolder">
			<p><%= raw t('home.about_html') %></p>
		</div>
		<div id="cblogodiv">
			<%= image_tag('cblogo2.png', :class => 'cblogo') %>
		</div>
		</div>
	</div>
</div>