	<div id="mainContainer">
		<div class="itemholder">
			<div class="colorsep" id="homesep"></div>
			<div class="menucontent">
				<h1>ŠTA JE BOBAK?</h1>
				<p>Bobak je servis za pretraživnje firmi u Bosni i Hercegovini koje imaju blokirane račune u bh bankama.</p>
			</div>
		</div>
		<div class="itemholder">
			<div class="colorsep" id="searchsep"></div>
			<div class="menucontent">
				<h1>PRETRAGA</h1>
				<p>Želite znati da li firma s kojom poslujete posluje ispravno? Mi vam omogućujemo brzi pregled ili pretragu firmi.</p>
			</div>
		</div>
		<div class="itemholder">
			<div class="colorsep" id="statssep"></div>
			<div class="menucontent">
				<h1>STATISTIKE</h1>
				<p>Iz mjeseca u mjesec mi uzimamo podatke od Centralne Banke te ih spašavamo i pravimo različite zanimljive statistike.</p>
			</div>
		</div>
	</div>
</div>