	
	<div id="mainContainer">
		<div class="innerHolder">
			<form class="form-contact" id="mainContactForm">
				  <input type="text" name="name" class="emailforma" value="Ime i prezime" >
				  <input type="text" name="email" class="emailforma" value="Email" >
				  <textarea name="message" rows="5" cols="4" >Pitanje ili poruka</textarea>
				  <br/>
			</form><br/>

			<div class="tip"><p></p>
			<div class="send_btn">
				<a class="" href="" onclick="$('#mainSearchForm').submit();">POŠALJI</a>
			</div>
			</div>
		</div>
	</div>
</div>