<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    	<strong>Name:</strong> <%= @name %>
  	</p>
    <p>
    	<strong>Email:</strong> <%= @email %>
    </p>
    <p>
    	<strong>Message:</strong><br>
    	<%= @message %>
    </p>
  </body>
</html>