	<div id="mainContainer">
		<div class="innerHolder">
			<p><strong>Bobak</strong> je sistem za pretraživnje firmi u Bosni i Hercegovini koje imaju blokirane račune u bosanskohercegovačkim bankama.<br/><br/>
Svaki mjesec <strong>Centralna Banka Bosne i Hercegovine</strong> objavljuje spisak takvih firmi.
Izvještaj se objavljuje na osnovu Odluke Upravnog vijeća CBBH broj: 96/12 od 04.10.2012.
Za ispravnost podataka odgovorne su finansijske institucije koje su dostavile podatke u Registar.<br/><br/>
Bobak pohranjuje te podatke te omogućuje prikaz istih, pretrage te različite statistike po mjesecima.</p></div>
	<%= image_tag('cblogo.jpg', :class => 'cblogo') %>
	</div>
</div>