<div class="page-header">
	<h1>Registar</h1>
</div>
<div>
	<form class="form-search">
	  <input type="text" name="q" class="input search-query">
	  <button type="submit" class="btn">Search</button>
	</form>
</div>
<div>
<table class="table">
	<tr>
		<th>Jedinstveni matični broj</th>
		<th>Naziv firme</th>
		<th>Broj blokiranih računa</th>
	</tr>
	<% @firms.each do |firm| %>
	<tr>
		<td><%= firm.jib %></td>
		<td><%= firm.name %></td>
		<td><%= firm.accounts.size %></td>
	</tr>
	<% end if @firms %>
</table>
</div>