/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require common
 *= require_self
 *= require_tree .
 * target ÷ context = result (em)
 */

 @import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900&subset=latin,latin-ext);

 body, html {
 	background-color: #ececed;
 	padding: 0;
 	margin: 0;
 	font-family: 'Titillium Web', Arial, Georgia, serif; 
 	color: #444;
 }

 h1 {
    font-family: 'Titillium Web', Arial, Georgia, serif;
    font-size: 1em;        /* 24px / 16px = 1.5em */
    margin-top: 20px;
    margin-left: 15px;
}

 h2 {
    font-family: 'Titillium Web', Arial, Georgia, serif;
    font-size: 1em;        /* 24px / 16px = 1.5em */
    color: white;
    margin: 0;
}

p {
	font-family: 'Titillium Web', Arial, Georgia, serif;
    font-size: 1 em;        
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1em;
}

p.white{
    margin: 0;
    color: white;
    line-height: 1em;
}

table {
    margin-top: 10px;
    width: 700px;
}


table, th, td {
    font-family: 'Titillium Web', Arial, Georgia, serif;
    color: #555;
    font-size: 0.9em;
    font-weight: 600;        
    border-collapse:collapse;
    padding: 5px;
}

tr.header {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    font-weight: bold;
    text-align: center;
}

th {
    border-right: 1px solid #e1e1e1;
    background-color: #bd1550;
    color: white;
}

tr {
   background-color: #FFF;
   border-bottom: 1px solid #e1e1e1;
}

td {
    border-right: 1px solid #e1e1e1;
}

td.accountsize {
    text-align: center;
}

ul {
    font-size: 0.875em;      /* 14px / 16px = 0.875em */
}

.tablehide {
    display: none !important;
}

.tableshow {
    display: block !important;
}

#topHeader {
 	margin: 0 auto;
    text-align: left;
    min-width: 900px;
    width: 900px;
    min-height: 80px;
    background-color: #141414;
}

.logo {
    width: 160px;
    height: 50px;
    position: relative;
    left: 370px;
    top: 15px;

}

.cblogo {
    width: 765px;
    height: 430px;

}

#cblogodiv {
    width: 765px;
    height: 430px;
    margin-top: 50px;
}

.logo img{

}

#lowerHeader {
 	margin: 0 auto;
    text-align: left;
    width: 900px;
    min-height: 110px;
    background-color: #490a3d;
}

.headerHolder {
    display: block;
    width: 600px;
    height: 110px;
    margin-left: 135px;
}

.headerText {
    width: 100%;
    height: 80px;
    margin-left: 40px;
}

.aboutclass {
    background-color: black;
}

.searchclass{
    background-color: black;
}

#wrapper{
    margin: 0 auto;
    min-width: 900px;
    width: 900px;
    min-height: 700px;
    height: auto !important; /*this set the height to auto for those supporting it (not IE)*/
    background-color: #e1e1e1;
}

#wrapper:after{
   content: ".";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}


.innerHolder {
    width: 715px;
    height: 100%;
    min-height: 100%;
    display: block;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 0;
}

#separator {
    width: 100% !important;
    min-height: 25px !important;
    display: block;
}

.results {

    width: 100% !important;
    height: 100%;
    margin-top: 30px;
    display: none;
}

#mainContainer {
 	margin: 0 auto;
    text-align: left;
    min-width: 765px;
    width: 765px;
    min-height: 680px;
    display: inline;
    float: left;
}

#leftMenu {
    margin: 0 auto;
    text-align: left;
    min-width: 135px;
    width: 135px;
    min-height: 700px;
    height: auto !important; 
    background-color: #ccc;
    display: inline;
    float: left;
}

.itemholder {
	width: 100%;
	height: 110px;
	background-color: #333;
	margin-top: 10px;
}

.menuitemholder {
    width: 135px;
    height: 110px;
    background-color: #333;
    margin-top: 10px;

}

.menuitem {
	width: 135px;
	height: 100%;
	float: left;
	display: inline;
}

.menucontent {
	width: 745px;
	height: 100%;
	float: left;
	display: inline;
	background-color: #d7d7d7;
}

#menuhome {
	background:#490a3d url('home_wh.png') no-repeat center center;
}

#menusearch {
	background:#a91046 url('search_wh.png') no-repeat center center;
}

#menustats {
	background:#f8ca00 url('stats_wh.png') no-repeat center center;
}

#menumail {
    background:#8a9b0f url('mail_wh.png') no-repeat center center;
}

#menuback {
    width: 100%;
    min-height: 110px;
}

.colorsep {
    width: 10px;
    height: 100%;
    float: left;
}

#homesep {
    background-color:#490a3d;
}

#searchsep {
    background-color:#a91046;
}

#statssep {
    background-color:#e97f02;
}

input[type=text] {
    font-family: 'Titillium Web', Arial, Georgia, serif;
    font-size: 1em;
    color: #333;
    height: 35px;
    width: 400px;
    padding-left: 10px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #efefef;
    display: inline;
    float: left;
    margin-left: 3px !important;
    margin-top: 10px;

}

input[type=text] .emailforma {
    font-family: 'Titillium Web', Arial, Georgia, serif;
    font-size: 1em;
    color: #333;
    height: 35px;
    width: 400px;
    padding-left: 10px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #efefef;
    display: block;
    float: left;
    margin-left: 3px !important;
    margin-top: 10px;

}

textarea {
    font-family: 'Titillium Web', Arial, Georgia, serif;
    font-size: 1em;
    color: #333;
    height: 200px;
    width: 400px;
    padding-left: 10px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #efefef;
    display: inline;
    float: left;
    margin-left: 3px !important;
    margin-top: 10px;

}

.send_btn {
    width: 80px;
    height: 30px;
    background-color: #8a9b0f;
    padding: 10 auto !important;
    display: inline-block;
    margin-left: 3px !important;
    margin-top: 10px;

}

.send_btn a {
    width: 80px;
    height: 30px;
    text-align: center;
    font-family: 'Titillium Web', Arial, Georgia, serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #FFF;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;

}

.img_btn {
    width: 40px;
    height: 40px;
    display:block;
    float: left;
    margin-left: 15px;

}

.search_btn {
    width: 40px;
    height: 40px;
    float: left;
    display: block;
    background: url('search_btn.png') no-repeat center center;
}

#opacity {
    position: relative;
    width: 135px;
    min-height: 100% !important;
    background-color: black;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    rgba(0,0,0,0.3);
    pointer-events:none;
}

#smallopacity {
    width: 135px;
    min-height: 110px;
    background-color: black;
    filter: alpha(opacity=15);
    -moz-opacity: 0.15;
    -khtml-opacity: 0.15;
    opacity: 0.15;
    rgba(0,0,0,0.15);
    float: left;
    display: inline;
}

.backshow {
    background:url(back.png) no-repeat center center !important;
}
.backhide {
    background:none !important;
}

.trecina {
    width: 30%;
    min-width: 30%;
    min-height: 100px;
    display: block;
    float: left;
    background-color: #fff;

}

#footer {
    min-width: 900px;
    width: 900px;
    min-height: 50px;
    min-height: 50px;
    margin: 0 auto !important;
    text-align: center;
}

#footer p {
    font-size: 11px;
    margin-top: 10px;
}

.tip {
    min-width: 100% !important;
    min-height: 30px;
    display: block;
    float: left;
}

.tip p{
    font-size: 12px;
    margin: 0;
    margin-top: 5px !important;
    margin-left: 3px !important;
    font-style: italic;
}

