<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1', {packages:['table']});
      google.setOnLoadCallback(drawTable);
      function drawTable() {

        var report_data = <%= raw @report %>;
        var data = new google.visualization.DataTable(report_data);

        var options = {
          cssClassNames: {headerRow: 'tbth', tableRow: 'tbtr', headerCell: 'tbth', hoverTableRow:'tbthhover', tableCell:'tbtd', headerCell:'tbhc', tableCell: 'tbcell'},
          showRowNumber: false,
          alternatingRowStyle: false
        }
        

        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, options);

      }
</script>
<div id="mainContainer">
    <div class="innerHolder">
       <div id="table_div" style="width: 715px; height: 550px;"></div>
    </div>
  </div>
</div>