
<div id="lowerHeader" <%= "style=background-color:#{@color};" %>>
	<div id="smallopacity">
		<a class="menuitem <%= @back ? 'backshow' : 'backhide' %>" id="menuback" href="./" ></a>
	</div>
	<div class="headerHolder">
		<div class="headerText"><br/>
			<h2><%= @title %></h2>
			<p class="white"><%= @titletext %></p>
		</div>
	</div>
</div>



