<div id="mainContainer">
	<div class="itemholder">
		<a class="menuitem" id="menuhome" href="home"></a>
		<div class="menucontent">
			<h1>ŠTA JE BOBAK?</h1>
			<p>Bobak je sistem za pretraživnje firmi u Bosni i Hercegovini koje imaju blokirane račune u bh bankama.</p>
		</div>
	</div>
	<div class="itemholder">
		<a class="menuitem" id="menusearch" href="search"></a>
		<div class="menucontent">
			<h1>PRETRAGA</h1>
			<p>Želite znati da li firma s kojom poslujete posluje ispravno? Mi vam omogućujemo brzi pregled ili pretragu firmi.</p>
		</div>
	</div>
	<div class="itemholder">
		<a class="menuitem" id="menustats" href="reports"></a>
		<div class="menucontent">
			<h1>STATISTIKE</h1>
			<p>Iz mjeseca u mjesec mi uzimamo podatke od Centralne Banke te ih spašavamo i pravimo različite zanimljive statistike.</p>
		</div>
	</div>
</div>