<div id="wrapper">
	<div id="leftMenu">
		<div id="opacity"></div>
		<div class="menuitemholder">
			<a class="menuitem" id="menuhome" href="about"></a>
		</div>
		<div class="menuitemholder">
			<a class="menuitem" id="menusearch" href="search"></a>
		</div>
		<div class="menuitemholder">
			<a class="menuitem" id="menustats" href="reports"></a>
		</div>
	</div>