<div id="wrapper">
	<div id="leftMenu">
		<!--div id="opacity"></div>-->
		<div class="menuitemholder">
			<%= link_to('', about_path(), {:id => 'menuhome', :class => 'menuitem'}) %>
		</div>
		<div class="menuitemholder">
			<%= link_to('', search_path(), {:id => 'menusearch', :class => 'menuitem'}) %>
		</div>
		<div class="menuitemholder">
			<%= link_to('', bank_reports_path(), {:id => 'menustats', :class => 'menuitem'}) %>
		</div>
		<div class="menuitemholder">
			<%= link_to('', contact_path(), {:id => 'menumail', :class => 'menuitem'}) %>
		</div>
	</div>